<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyp.java8.mapper.UserMapper">


    <resultMap type="com.wyp.java8.model.User" id="ResultMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="createDate" column="create_date" />
        <result property="createTime" column="create_time" />
    </resultMap>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into user(create_date, create_time)
        values (#{createDate}, #{createTime})
    </insert>

    <!--通过实体作为筛选条件查询-->
    <select id="getAll" resultMap="ResultMap">
        select *
        from user
    </select>



</mapper>